<!-- Google Analytics -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-135639562-1', 'auto');
	ga('send', 'pageview');
	ga('send', 'event', 'buttons', 'click', 'chatkami');
</script>
<!-- End Google Analytics -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>DIGIDES | Upana Studio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="digital desa adalah platform Aplikasi transformasi desa ke dunia digital dalam rangka menyambut era 4.0" />
<meta name="keywords" content="Digital desa, digides, desa, desa digital, sulawesi selatan, Desa Sulsel, Platform Desa, Aplikasi Desa" />
<meta name="author" content="Upana Studio Internasional" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="DIGIDES, Digital Desa"/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content="DIGIDES, Digital Desa"/>
<meta property="og:description" content="DIGIDES, Digital Desa"/>
<meta name="twitter:title" content="DIGIDES, Digital Desa" />
<meta name="twitter:image" content="DIGIDES, Digital Desa" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="theme-color" content="#9932CC">
<!-- manifest -->
<meta name="theme-color" content="#9932CC">

<link rel="manifest" href="manifest.json">	
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" rel="stylesheet">

<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<!-- Animate.css -->
<link rel="stylesheet" href="/css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="/css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="/css/bootstrap.css">
<!-- Modal -->
<link rel="stylesheet" href="/modal/css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="/modal/css/style.css"> <!-- Resource style -->
<!-- Magnific Popup -->
<link rel="stylesheet" href="/css/magnific-popup.css">
<!-- Owl Carousel -->
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<!-- Theme style  -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/stylecost.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/popup.css">
<link rel="stylesheet" href="/hover/css/hover.css">
<script src="/modal/js/modernizr.js"></script> <!-- Modernizr -->

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<style type="text/css">
	.f-desc {
		padding: 0px 20px;
		margin-bottom: 20px;
		border-bottom : 1px solid rgba(0,0,0,.1);
		vertical-align: middle;
	}

	.shadow-wrapper {
		box-shadow: 0px 0px 0px !important;
		webkit-box-shadow: 0px !important;
		border-radius: 0px !important;
		box-shadow: 0px !important;
	}

	.desc-fitur{
		vertical-align: middle;

	}

	.f-desc-fitur {
		margin-left: 47px;
		font-size: 12px;
		margin-top: -28px;
	}

	.margin-top {
		margin-top: -28px;
	}

	.no-border {
		webkit-border-radius: 0px;
		moz-border-radius: 0px;
		ms-border-radius: 0px;
		border-radius: 0px !important;
	}
	.fit-video {
		color: #337ab7;
		background-color: #eee;
	}

	.swal2-modal {
		height: 300px;
		width: 400px !important;
		font-size: smaller !important;
	}

	.icon-ukuran{
		font-size: 35px !important;
	}

	#btn-close-modal {
		width:100%;
		text-align: center;
		cursor:pointer;
		color:#fff;
		padding-top: 40px;
	}

	#color-btn {
		background-color: rgba(0, 0, 0, 0);
		border: 2px solid #afb3b1;
	}

	.btn-primary.btn-outline {
		color: rgb(255, 255, 255);
	} 

	.responsive {
		width: 100%;
		max-width: 200px !important;
		height: auto;
	}

	.text-artikel {
		text-align: center !important; 
		font-size: 45px;
		color: white !important;
		z-index: 9999; 

	}

	.text-artikel2 {
		text-align: justify;
		color: white !important;
		z-index: 99999; 

	}

	.article-modal {
		padding: 0px;
		background: none;
		box-shadow: none !important;

	}

	.pic-digides {
		width: 60%;

	}

	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		border-radius: 5px;
	}

	li a:hover {
		background-color: rgba(74, 202, 133, 0.73) !important;
		border-radius: 10px;
	}
	li a:focus {
		background-color: transparent !important;
	}

	a:hover {
		background-color: rgba(0, 0, 0, 0) !important;
		/*			  border-radius: 10px;*/
	}
	a:focus {
		background-color: transparent !important;
	}

	.icon-play3:hover {
		color: white !important; 
	}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	img {
		border-radius: 5px 5px 0 0;
	}

	.isi {
		padding: 2px 16px;
	}

	.cd-section {
		padding: 0px !important;
	}

	@media screen and (min-width: 900px) {
		.card {
			width: 230px; 
			height: 280px; 
		}
	}

	@media screen and (max-width: 400px) {
		.card {
			width: 170px; 
			height: 270px; 
		}
	}

	@media screen and (max-width: 300px) {
		.pic-mobile {
			width: 170px; 
			height: 270px; 
		}
	}


</style>